#Battle Properties
robocode.battleField.width=1200
robocode.battleField.height=1200
robocode.battle.numRounds=10
robocode.battle.gunCoolingRate=0.1
robocode.battle.rules.inactivityTime=450
robocode.battle.hideEnemyNames=true
robocode.battle.selectedRobots= test.GateKeeper_101*, test.HypeMachine_31*, test.Nic_R2*, test.KittenCannon_2141*, test.Individual_32194*, test.DarkSoul_1099*, rz.HawkOnFireOS*, evolved.DarkSoul_${id}

